<div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">

  <!-- HEADER -->
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <img src="assets/plone-logo.svg" alt="Plone" />
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a [routerLink]="['/']" class="mdl-navigation__link" href="/">Home</a>
        <a [routerLink]="['/login']" class="mdl-navigation__link" href="login">Login</a>
      </nav>
      <!-- Search -->
      <app-search></app-search>
    </div>
  </header>

  <!-- SIDEBAR -->
  <div class="plone-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img src="assets/plone-logo.svg" alt="Plone" />
    </span>
    <nav class="mdl-navigation">
      <a [routerLink]="['/']" class="mdl-navigation__link" href="/">Home</a>
      <a [routerLink]="['/login']" class="mdl-navigation__link" href="login">Login</a>
    </nav>
  </div>

  <!-- MAIN -->
  <main class="mdl-layout__content">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <router-outlet></router-outlet>
      </div>
    </div>


    <!-- FOOTER -->
    <footer class="mdl-mega-footer">
      <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Plone Foundation</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Support</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Spec</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Downloads</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contracts</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Documentation</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
          <img src="assets/plone-logo.svg" alt="Plone" />
        </div>
      </div>
    </footer>

  </main>

</div>
