# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/frontend/tmp

# dependencies
/frontend/node_modules
/frontend/bower_components

# IDEs and editors
/frontend/.idea
/frontend/.vscode
.project
.classpath
*.launch
/frontend.settings/

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
npm-debug.log
testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

#System Files
.DS_Store
Thumbs.db
