eggs/
parts/
var/
bin/
.installed.cfg

# robot
log.html
output.xml
report.html

# compiled output
/frontend/dist
/frontend/tmp

# dependencies
node_modules
bower_components

# IDEs and editors
/frontend/.idea
/frontend/.vscode
.idea
.project
.classpath
*.launch
/frontend.settings/

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
npm-debug.log
testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#virtualenv
restapi
