<div class="mdl-card">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="title" name="title" id="title"
          required
          [(ngModel)]="title" />
          <label class="mdl-textfield__label" for="title">Title</label>
        </div>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="description" name="description" id="description"
            [(ngModel)]="description" />
            <label class="mdl-textfield__label" for="description">Summary</label>
        </div>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="text" id="text"
            [(ngModel)]="text" />
            <label class="mdl-textfield__label" for="text">Text</label>
        </div>
      </div>
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised">
          Create
        </button>
      </div>
    </form>
</div>
