<div class="mdl-card plone-login">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" name="username" id="username" [(ngModel)]="username"/>
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" name="password" id="password" [(ngModel)]="password" />
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
    </div>
    <div class="mdl-card__actions">
      <button class="mdl-button mdl-js-button mdl-button--raised">
        Log in
      </button>
    </div>
  </form>
</div>

