<div class="content">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="title" name="title" id="title"
        required
        [(ngModel)]="title" />
        <label class="mdl-textfield__label" for="title">Title</label>
      </div>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input"
               type="description"
               name="description"
               id="description"
               [(ngModel)]="description" />
        <label class="mdl-textfield__label"
               for="description">
          Summary
        </label>
      </div>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input"
                  type="text"
                  rows="10"
                  id="text"
                  name="text"
                  [(ngModel)]="text"></textarea>
        <label class="mdl-textfield__label" for="sample5">
          Text lines...
        </label>
      </div>
    </div>
    <div class="mdl-card__actions">
      <button id="create-blogpost-button"
              class="mdl-button mdl-js-button mdl-button--raised">
        Create
      </button>
    </div>
  </form>
</div>
