<div class="content">
  <h2>Add Blogpost</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input"
               type="text"
               name="title"
               id="title"
               required
               ngModel />
        <label class="mdl-textfield__label"
               for="title">
          Title
        </label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input"
               type="text"
               name="description"
               id="description"
               ngModel />
        <label class="mdl-textfield__label"
               for="description">
          Summary
        </label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input"
                  type="text"
                  rows="10"
                  id="text"
                  name="text"
                  ngModel></textarea>
        <label class="mdl-textfield__label" for="text">
          Text lines...
        </label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <button id="create-blogpost-button"
              class="mdl-button mdl-js-button mdl-button--raised">
        Create
      </button>
    </div>
  </form>
</div>
