/* You can add global styles to this file, and also import other style files */
header.mdl-layout__header--scroll {
  background: #424242;
}

.demo-card-wide.mdl-card {
  width: 80%;
  margin: 2em auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://kitconcept.com/sunrise.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
