/* You can add global styles to this file, and also import other style files */
header.mdl-layout__header--scroll {
  background: #424242;
}

.add-button {
  width: 80%;
  margin: 2em auto;
}

.demo-card-wide.mdl-card {
  width: 80%;
  margin: 2em auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://kitconcept.com/sunrise.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.plone-blogpost-header {
  position: relative;
  height: 600px;
  width: auto;
  background-color: #f3f3f3;
  background: url('https://kitconcept.com/sunrise.jpg') center 30% no-repeat;
  background-size: cover;
  color: #f2f2f2;
}

.plone-blogpost-header .slogan {
  font-size: 40px;
  line-height: 50px;
  padding-top: 160px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.plone-blogpost-header .sub-slogan {
  font-size: 21px;
  line-height: 30px;
  padding-top: 24px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.content {
  max-width: 800px;
  margin: 2em auto;
  text-align: left;
}

.plone-drawer .mdl-layout-title {
  position: relative;
  background: #454545;
  height: 160px;
}

.plone-login {
  margin: 2em auto;
}

.error{color:rgb(213, 0, 0);}

form .mdl-textfield {
  width: 100%;
}
